.flex{
    display: flex;

}
.justify-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.border{
    border: 2px solid red;
    margin: 3px;
}
.bg-black{
    background-color: black;
    color: white;
}
.invert{
    filter: invert(1);
}

.bg-grey{
    background-color: #121212;
}

.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 5px;
}
.p-1{
    padding: 10px;
}



/* WebKit (Chrome, Safari, Opera) */

/* Track */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #333; /* Change this color to your desired dark color */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Change this color to your desired hover color */
  }
  
  /* Firefox */
  
  /* Track */
  ::-moz-scrollbar {
    width: 10px;
  }
  
  /* Handle */
  ::-moz-scrollbar-thumb {
    background: #333; /* Change this color to your desired dark color */
  }
  
  /* Handle on hover */
  ::-moz-scrollbar-thumb:hover {
    background: #555; /* Change this color to your desired hover color */
  }
  